body {
  background-image: linear-gradient(to bottom, #ff0000, #000000);
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
  text-align: center;
  padding: 25px;
}

.directionButton {
  width: 40px;
  height: 40px;
}

table {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  /* border: solid green; */
}
td {
  padding: 1px;
  margin: 1px;
  /* border: dotted purple; */
}

.generator {
  background-color: rgb(168, 168, 168);
  margin: auto;
  max-width: max-content;
  padding: 15px;
  border-radius: 25px;
}

.intro {
  max-width: 600px;
  margin: auto;
}

input {
  border-width: 0px;
}
