body {
  background-color: black;
}
h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  text-align: center;
}
p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: antiquewhite;
}
